<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- Umami Analytics -->
<script defer src="https://umami.lab.woodcp.com/script.js" data-website-id="e26e6914-2ad3-4d03-978f-b1009ddd8a0a"></script>

<!-- Swiper.js for Venture Studio Carousel -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- end custom head snippets -->